<?xml version="1.0"?>
<config>
    <modules>
        <Zetaprints_Productivity>
            <version>1.0.1</version>
        </Zetaprints_Productivity>
    </modules>
    <frontend>
        <layout>
            <updates>
                <productivity>
                    <file>productivity.xml</file>
                </productivity>
            </updates>
        </layout>
        <routers>
            <productivity>
                <use>standard</use>
                <args>
                    <module>Zetaprints_Productivity</module>
                    <frontName>productivityf</frontName>
                </args>
            </productivity>
            <!-- Catalog module controller rewrite start here -->
            <catalog>
                <args>
                    <modules>
                        <Zetaprints_Productivity before="Mage_Catalog">Zetaprints_Productivity</Zetaprints_Productivity>
                    </modules>
                </args>
            </catalog>
            <!-- Catalog module controller rewrite end here -->
            <!-- Cms module controller rewrite start here -->
            <cms>
                <args>
                    <modules>
                        <Zetaprints_Productivity before="Mage_Cms">Zetaprints_Productivity_Cms</Zetaprints_Productivity>
                    </modules>
                </args>
            </cms>
            <!-- Cms module controller rewrite end here -->
        </routers>
    </frontend>
    <admin>
        <routers>
            <productivity>
                <use>admin</use>
                <args>
                    <module>Zetaprints_Productivity</module>
                    <frontName>productivity</frontName>
                </args>
            </productivity>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productivity>
                    <file>productivity.xml</file>
                </productivity>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <blocks>
            <productivity>
                <class>Zetaprints_Productivity_Block</class>
            </productivity>
        </blocks>
        <helpers>
            <productivity>
                <class>Zetaprints_Productivity_Helper</class>
            </productivity>
        </helpers>
    </global>
</config>