<?xml version="1.0"?>

<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE-OSL.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @package MVentory/Productivity
 * @copyright Copyright (c) 2014 mVentory Ltd. (http://mventory.com)
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->

<config>
  <tabs>
    <mventory translate="label">
      <label>mVentory</label>
      <sort_order>100</sort_order>
    </mventory>
  </tabs>

  <sections>
    <productivity translate="label">
      <label>Productivity</label>
      <tab>mventory</tab>
      <frontend_type>text</frontend_type>

      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>

      <sort_order>0</sort_order>

      <groups>
        <hint>
          <frontend_model>productivity/config_hint</frontend_model>

          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>

          <sort_order>0</sort_order>
        </hint>

        <product translate="label">
          <label>Product</label>

          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>

          <sort_order>1</sort_order>

          <fields>
            <save_scope translate="label comment">
              <label>Save edits to</label>
              <comment><![CDATA[
                Recommended default: Current store, other recommended settings:
                <ul style="list-style: disc inside none; padding: 0 0 0 13px">
                  <li>1-store config: Current store</li>
                  <li>1-website, multiple stores: Current store</li>
                  <li>Multiple websites, 1 store per site: Default scope</li>
                  <li>Multiple websites, multiple stores: Current store</li>
                </ul>
              ]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>productivity/setting_source_savescope</source_model>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>

              <sort_order>1</sort_order>
            </save_scope>
          </fields>
        </product>
      </groups>
    </productivity>

    <catalog>
      <groups>
        <frontend>
          <fields>
            <display_descending_products translate="label" module="productivity">
              <label>Display all descending products</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>300</sort_order>
            </display_descending_products>
          </fields>
        </frontend>

        <navigation>
          <fields>
            <hide_empty_categories translate="label" module="productivity">
              <label>Show categories only with 2 or more sub-categories</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>

              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>100</sort_order>
            </hide_empty_categories>

            <home_url translate="label" module="productivity">
              <label>External Home URL</label>
              <frontend_type>text</frontend_type>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>101</sort_order>
            </home_url>
          </fields>
        </navigation>
      </groups>
    </catalog>

    <google>
      <groups>
        <analytics>
          <fields>
            <productivity_analytics_url translate="label comment" module="productivity">
              <label>Analytics Reports URL</label>
              <frontend_type>text</frontend_type>
              <validate>validate-url</validate>
              <comment>Link to analytics reports for Productivity toolbar.</comment>

              <show_in_default>0</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>

              <sort_order>30</sort_order>
            </productivity_analytics_url>
          </fields>
        </analytics>
      </groups>
    </google>
  </sections>
</config>
