<?xml version="1.0"?>
<config>
  <modules>
    <ZetaPrints_Productivity>
      <version>1.0.1</version>
    </ZetaPrints_Productivity>
  </modules>

  <global>
    <blocks>
      <productivity>
        <class>ZetaPrints_Productivity_Block</class>
      </productivity>

      <catalog>
        <rewrite>
          <product_view>ZetaPrints_Productivity_Block_Product_View</product_view>
        </rewrite>
      </catalog>

      <adminhtml>
        <rewrite>
          <catalog_product_attribute_edit_tab_options>ZetaPrints_Productivity_Block_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
        </rewrite>
      </adminhtml>
    </blocks>

    <helpers>
      <productivity>
        <class>ZetaPrints_Productivity_Helper</class>
      </productivity>

      <catalog>
        <rewrite>
          <category>ZetaPrints_Productivity_Helper_Mage_Catalog_Category</category>
        </rewrite>
      </catalog>
    </helpers>

    <models>
      <productivity>
        <class>ZetaPrints_Productivity_Model</class>
        <resourceModel>ZetaPrints_Productivity_resources</resourceModel>
      </productivity>
    </models>
  </global>

  <frontend>
    <layout>
      <updates>
        <productivity>
          <file>productivity.xml</file>
        </productivity>
      </updates>
    </layout>

    <routers>
      <productivity>
        <use>standard</use>
        <args>
          <module>ZetaPrints_Productivity</module>
          <frontName>mvproductivitypackf</frontName>
        </args>
      </productivity>

      <catalog>
        <args>
          <modules>
            <ZetaPrints_Productivity before="Mage_Catalog">ZetaPrints_Productivity</ZetaPrints_Productivity>
          </modules>
        </args>
      </catalog>
    </routers>

    <events>
      <controller_action_layout_render_before_catalog_category_view>
        <observers>
          <productivity_add_category_feed>
            <type>singleton</type>
            <class>ZetaPrints_Productivity_Model_Observer</class>
            <method>addCategoryFeed</method>
          </productivity_add_category_feed>
        </observers>
      </controller_action_layout_render_before_catalog_category_view>

      <controller_action_layout_render_before_cms_index_index>
        <observers>
          <productivity_add_latest__product_feed>
            <type>singleton</type>
            <class>ZetaPrints_Productivity_Model_Observer</class>
            <method>addLatestProductsFeed</method>
          </productivity_add_latest__product_feed>

          <productivity_add_top_categories_feed>
            <type>singleton</type>
            <class>ZetaPrints_Productivity_Model_Observer</class>
            <method>addTopCategoriesFeed</method>
          </productivity_add_top_categories_feed>
        </observers>
      </controller_action_layout_render_before_cms_index_index>

      <controller_action_predispatch_catalog>
        <observers>
          <productivity_remember_admin_state>
            <type>singleton</type>
            <class>ZetaPrints_Productivity_Model_Observer</class>
            <method>rememberAdminState</method>
          </productivity_remember_admin_state>
        </observers>
      </controller_action_predispatch_catalog>

      <controller_action_predispatch_cms>
        <observers>
          <productivity_remember_admin_state>
            <type>singleton</type>
            <class>ZetaPrints_Productivity_Model_Observer</class>
            <method>rememberAdminState</method>
          </productivity_remember_admin_state>
        </observers>
      </controller_action_predispatch_cms>

      <catalog_block_product_list_collection>
        <observers>
          <productivity_show_products_without_small_image_only>
            <type>singleton</type>
            <class>ZetaPrints_Productivity_Model_Observer</class>
            <method>showProductsWithoutSmallImagesOnly</method>
          </productivity_show_products_without_small_image_only>
        </observers>
      </catalog_block_product_list_collection>
    </events>
  </frontend>

  <admin>
    <routers>
      <productivity>
        <use>admin</use>
        <args>
          <module>ZetaPrints_Productivity</module>
          <frontName>mvproductivitypack</frontName>
        </args>
      </productivity>
    </routers>
  </admin>

  <adminhtml>
    <events>
      <catalog_entity_attribute_save_before>
        <observers>
          <productivity_merge_attribute_options>
            <type>singleton</type>
            <class>ZetaPrints_Productivity_Model_Observer</class>
            <method>mergeAttributeOptions</method>
          </productivity_merge_attribute_options>
        </observers>
      </catalog_entity_attribute_save_before>
    </events>

    <layout>
      <updates>
        <productivity>
          <file>zetaprints_mvproductivitypack.xml</file>
        </productivity>
      </updates>
    </layout>
  </adminhtml>
</config>
